<a href="https://colab.research.google.com/github/Azami-GHub/BetaCSScv/blob/main/19000766_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

nfl_df = pd.read_csv("https://github.com/hafizulamz/ML-Datasets/raw/main/BDA%20Lab/NFL%202016-Lab1.csv")

In [ ]:
nfl_df

In [ ]:
np.random.seed(0)
nfl_df.sample(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
37288,5/12/2016,2016120500,22,4,2.0,2:47,3,167.0,46.0,NYJ,...,NaN,0.000001,0.999999,0.000002,0.999998,0.999999,-8.520000e-07,NaN,NaN,2016
29679,20/11/2016,2016112001,9,3,1.0,2:57,3,1077.0,40.0,CLE,...,NaN,0.087700,0.912300,0.090535,0.909465,0.912300,-2.834741e-03,NaN,NaN,2016
16662,10/10/2016,2016101000,22,4,2.0,1:46,2,106.0,0.0,TB,...,NaN,0.419978,0.580022,0.455749,0.544251,0.580022,-3.577083e-02,NaN,NaN,2016
28659,13/11/2016,2016111309,23,4,NaN,0:00,0,0.0,37.0,MIA,...,NaN,0.000000,1.000000,0.000000,1.000000,0.995902,0.000000e+00,NaN,NaN,2016
36513,4/12/2016,2016120410,9,2,3.0,5:31,6,2131.0,41.0,PIT,...,0.000000,0.843531,0.156469,0.865266,0.134734,0.843531,2.173463e-02,0.021735,0.000000,2016
387,3/1/2016,2016010311,3,1,2.0,4:00,4,2940.0,38.0,ATL,...,-2.291421,0.436812,0.563188,0.459635,0.540365,0.563188,-2.282314e-02,0.051784,-0.074607,2015
35591,4/12/2016,2016120404,4,1,2.0,5:57,6,3057.0,6.0,HOU,...,NaN,0.625610,0.374390,0.606622,0.393378,0.625610,-1.898748e-02,NaN,NaN,2016
11563,29/9/2016,2016092900,9,2,1.0,9:38,10,2378.0,44.0,MIA,...,NaN,0.699510,0.300490,0.680951,0.319049,0.699510,-1.855912e-02,NaN,NaN,2016
23935,30/10/2016,2016103008,21,3,NaN,4:02,5,1142.0,0.0,SD,...,NaN,0.617561,0.382439,0.617568,0.382432,0.617561,7.490000e-06,NaN,NaN,2016
22317,30/10/2016,2016103000,4,2,4.0,12:30,13,2550.0,4.0,CIN,...,NaN,0.390008,0.609992,0.493589,0.506411,0.390008,1.035808e-01,NaN,NaN,2016

In [ ]:
nfl_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Date  GameID  Drive    qtr   down   time  TimeUnder  TimeSecs  \
0      False   False  False  False   True  False      False     False
1      False   False  False  False  False  False      False     False
2      False   False  False  False  False  False      False     False
3      False   False  False  False  False  False      False     False
4      False   False  False  False  False  False      False     False
...      ...     ...    ...    ...    ...    ...        ...       ...
45784  False   False  False  False  False  False      False     False
45785  False   False  False  False  False  False      False     False
45786  False   False  False  False  False  False      False     False
45787  False   False  False  False  False  False      False     False
45788  False   False  False  False   True  False      False     False

       PlayTimeDiff  SideofField  ...  yacEPA  Home_WP_pre  Away_WP_pre  \
0             False        False  ...    True        False        False
1             False        False  ...    True        False        False
2             False        False  ...   False        False        False
3             False        False  ...    True        False        False
4             False        False  ...   False        False        False
...             ...          ...  ...     ...          ...          ...
45784         False        False  ...    True        False        False
45785         False        False  ...   False        False        False
45786         False        False  ...   False        False        False
45787         False        False  ...    True        False        False
45788         False        False  ...    True        False        False

       Home_WP_post  Away_WP_post  Win_Prob    WPA  airWPA  yacWPA  Season
0             False         False     False  False    True    True   False
1             False         False     False  False    True    True   False
2             False         False     False  False   False   False   False
3             False         False     False  False    True    True   False
4             False         False     False  False   False   False   False
...             ...           ...       ...    ...     ...     ...     ...
45784         False         False     False  False    True    True   False
45785         False         False     False  False   False   False   False
45786         False         False     False  False   False   False   False
45787         False         False     False  False    True    True   False
45788         False         False     False  False    True    True   False

[45789 rows x 102 columns]>

In [ ]:
missing_values_count = nfl_df.isnull().sum()
missing_values_count[0:10]

Date               0
GameID             0
Drive              0
qtr                0
down            7136
time              37
TimeUnder          0
TimeSecs          37
PlayTimeDiff      72
SideofField       66
dtype: int64

In [ ]:
nfl_df.shape

(45789, 102)

In [ ]:
total_cells = np.product(nfl_df.shape)
total_missing = missing_values_count.sum()
percentage_missing = (total_missing/total_cells)*100

print(percentage_missing)

24.901412660545667

In [ ]:
columns_with_na_dropped = nfl_df.dropna(axis = 1)

columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,desc,PlayAttempted,Yards.Gained,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,3/1/2016,2016010300,1,1,15,0,0,"J.Gay kicks 65 yards from BUF 35 to end zone, ...",1,0,...,0,None,3,3,3,3,3,0.0,0.0,2015
1,3/1/2016,2016010300,1,1,15,10,0,(15:00) S.Ridley left guard to NYJ 20 for no g...,1,0,...,0,None,3,3,3,3,3,0.0,0.0,2015
2,3/1/2016,2016010300,1,1,15,10,0,(14:22) (Shotgun) R.Fitzpatrick pass incomplet...,1,0,...,0,None,3,3,3,3,3,0.0,0.0,2015
3,3/1/2016,2016010300,1,1,15,10,-5,(14:19) (Shotgun) R.Fitzpatrick pass short lef...,1,11,...,0,None,3,3,3,3,3,0.0,0.0,2015
4,3/1/2016,2016010300,1,1,14,15,1,(13:47) (Shotgun) R.Fitzpatrick pass short lef...,1,6,...,0,None,3,3,3,3,3,0.0,0.0,2015

In [ ]:
subset_nfl_data = nfl_df.loc[:,'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0.000000,NaN,NaN,0.514325,0.485675,0.514325,0.485675,0.485675,0.000000,NaN,NaN,2015
1,-0.769232,NaN,NaN,0.514325,0.485675,0.534438,0.465562,0.485675,-0.020113,NaN,NaN,2015
2,-0.967431,-1.112031,0.144600,0.534438,0.465562,0.562780,0.437220,0.465562,-0.028342,-0.032527,0.004185,2015
3,-0.652355,NaN,NaN,0.562780,0.437220,0.580800,0.419200,0.437220,-0.018020,NaN,NaN,2015
4,-0.535979,-0.879633,0.343654,0.580800,0.419200,0.596924,0.403076,0.419200,-0.016124,-0.027312,0.011187,2015

In [ ]:
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0.000000,0.000000,0.000000,0.514325,0.485675,0.514325,0.485675,0.485675,0.000000,0.000000,0.000000,2015
1,-0.769232,0.000000,0.000000,0.514325,0.485675,0.534438,0.465562,0.485675,-0.020113,0.000000,0.000000,2015
2,-0.967431,-1.112031,0.144600,0.534438,0.465562,0.562780,0.437220,0.465562,-0.028342,-0.032527,0.004185,2015
3,-0.652355,0.000000,0.000000,0.562780,0.437220,0.580800,0.419200,0.437220,-0.018020,0.000000,0.000000,2015
4,-0.535979,-0.879633,0.343654,0.580800,0.419200,0.596924,0.403076,0.419200,-0.016124,-0.027312,0.011187,2015